<!DOCTYPE html>
<html>

<head>
  <title>Online Art Gallery Database</title>
  <meta charset="UTF=8">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="body" id="ordersBody">

  <ul>
    <li><button class="homeButton" type="button" onclick="location.href='/'">HOME</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/artists'">Artists</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/customers'">Customers</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/galleries'">Galleries</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/orders'">Orders</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/paintings'">Paintings</button></li>
    <li><button class="homeButton" type="button" onclick="location.href='/search'">Custom Search</button></li>
  </ul>

  <h1>Orders Results:</h1>

  <!--Display our current data table-->
  <table id="currentTable">
    <th>Order ID</th>
    <th>Customer ID</th>
    <th></th>
    <th></th>

    {{#each dataList}}
    <tr id="newRow">
      <td id="orderID">{{this.orderID}}</td>
      <td id="customerID">{{this.customerID}}</td>

      <td><button type="button" onclick="deleteRow('currentTable',this)">Delete</button></td>
      <td><button type="button" onclick="location.href='/updateOrders'">Update</button>
        <!--EXAMPLE when hooked to backend:
      <td><button type="button" onclick="location.href='/updateArtists?id='+{{this.artistID}}">Update</button> -->
      </td>
    </tr>
    {{/each}}
  </table>



  <!-- If no information in table, show text saying no information -->
  <h3 id="noDataTag"></h3>

  <br><br>

  <form>
    <fieldset>
      <legend>Add an Order</legend>
      <label>(Order ID will auto-populate) </label><br>
      <label for="customerIDLabel">*Customer ID: </label>
      <input type="text" name="customerIDForm" id="customerIDForm"></input>
      <br>
      <div id="orderAdderButton">
      </div>

      <p id="requirement">* required entry</p>

      <!-- display any missing NOT NULL items -->
      <div><b id="addErrorNameCustomerID"></b></div>

      <!-- display successfull add comment -->
      <span id="addSuccess"></span>
    </fieldset>
  </form>

  <br><br>

  <!--Display our current data table for M:M relationship-->
  <table>
    <th>Order ID</th>
    <th>Gallery ID</th>

    {{#each dataListMToM}}
    <tr id="newRow">
      <td id="orderID">{{this.orderID}}</td>
      <td id="galleryID">{{this.galleryID}}</td>
    </tr>
    {{/each}}
  </table>

  <script src="ordersScript.js"></script>
</body>

</html>